.color_white{
    color: #fff;
}
/* Logo */
.logoSlack {
  width: 30px;
  height: 30px;
}
.server-title {
  margin: 0;
  padding: 5px;
}
.user-status {
  color: rgb(1, 240, 1);
  margin-left: 10px;
  font-size: 1.5em;
  line-height: 1;
  display: inline-block;
}
.username {
  margin: 0;
  margin-left: 10px;
  display: inline-block;
}
