/** common **/
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  height: 100%;
  font-size: 1em;
  line-height: 1.5;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nav-bar {
  float: left;
}

.nav-bar ul {
  padding: 0;
  margin: 0;
  list-style: none;
  overflow: hidden;
  height: 100vh;
  width: 20vw;
  background: #333;
}

.nav-bar a {
  padding: 8px 20px;
  text-decoration: none;
  background: #333;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  display: block;
}

.nav-bar a:hover {
  background: #fff;
  color: #333;
}

/* Burger-menu */
.burger_button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  border: none;
  cursor: pointer;
  display: none;
  height: 26px;
  position: relative;
  width: 29px;
}
.burger_button span {
  background: black;
  height: 6px;
  border-radius: 5px;
  position: absolute;
  transition: transform 0.5s;
}

.burger_button span:first-child {
  top: 0;
  right: 0;
  left: 0;
}
.burger_button span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  left: 0;
  opacity: 1;
}
.burger_button span:last-child {
  bottom: 0;
  right: 0;
  left: 0;
}

/* Media Queries */
@media all and (max-width: 768px) {
  .nav-bar {
    background: #333;
    padding: 5px;
    float: none;
  }
  .nav-bar a {
    margin: 0;
    margin-bottom: 1px;
  }
  .nav-bar ul {
    max-height: 0;
    transition: max-height 0.5s;
    width: auto;
  }
  .burger_button span {
    background: #fff;
  }
  .burger_button {
    display: block;
  }
  .menu li:last-child a {
    margin-bottom: 0;
  }

  /* Toggle class burger menu */
  .nav-bar .is-visible-in-mobile {
    max-height: calc(100vh - 37px);
    transition: max-height 1s;
  }
  .open_burger span:first-child {
    transform: rotate(45deg);
    transform-origin: left 50%;
  }
  .open_burger span:nth-child(2) {
    opacity: 0;
    transition: opacity 0.5s;
  }
  .open_burger span:last-child {
    transform: rotate(-45deg);
    transform-origin: left 50%;
  }
}
